.title {
  text-align: center;
}
.statList {
  display: flex;
  text-align: center;
  justify-content: center;
}
.item {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.percentage {
  font-size: 25px;
}
